<h2><%= @letter.title %></h2>
===============================================
<p>Name:  <%= @letter.name %></p>
<p>Phone: <%= @letter.phone %></p>
<p>Email: <%= @letter.email %></p>
===============================================
<p>Description: <%= @letter.description %>.</p>

